$white: #fff;
$blue: #1e90ff;

.headerContainer {
  display: flex;
  background-color: $blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 0 5rem;
  @media only screen and (max-width: 600px) {
    padding: 0 1rem;
  }

  h3 {
    color: $white;
    font-size: 26px;
    @media only screen and (max-width: 600px) {
      font-size: 18px;
    }
  }

  .navigation ul {
    display: flex;
    list-style: none;
    align-items: center;

    li {
      margin-left: 2rem;

      a {
        color: $white;
        text-decoration: none;
      }
    }

    button {
      font: inherit;
      background: $white;
      border: 1px solid $blue;
      padding: 0.5rem 1.5rem;
      color: $blue;
      cursor: pointer;
      border-radius: 20px;
    }
  }
}
